body {
    background: #333;
    color:white;
    font-family: sans-serif;
    }
#rps_buttons, #rps_result{
    width:50%;
    min-width: 645px;
    margin:0 auto;
    position:relative;
    top:100px;
}
div{
    
    margin:5% auto;
    text-align: center;
}
img {
    display:inline-block;
	width:100px;
	height:50px;
	background-repeat:no-repeat;
	background-color:#333;
    padding:1%;
}
button {
    border-radius:0;
	border-width:0;
    background-color: #f00;
    color:#fff;
}
.rps_btn{
	display:inline-block;
	width:100px;
	height:50px;
	background-repeat:no-repeat;
	background-color:#eee;
    color:#333;
    padding:1%;
    padding-left: 5%;
}
.btn_rock {
	background-image:url(../images/rock.svg);
    transition: all 1s;
}
.btn_paper {
	background-image:url(../images/paper.svg);
    transition: all 1s;
   
}
.btn_scissors {
	background-image:url(../images/scissors.svg);
    transition: all 1s;
  
}

.btn_rock:hover {
    transform: rotate(360deg) scale(2);
    background-color: #f50;

}
.btn_paper:hover {
    transform: rotate(360deg) scale(2);
    background-color: #f50;
}
.btn_scissors:hover {
    transform: rotate(360deg)scale(2);
    background-color: #f50;
}
